@page "/programs"
@inject IJSRuntime js;
@using WorkoutTracker.DataAccess;
@using WorkoutTracker.Models;

<div class="container">
    <div class="row">
        <div class="col-11"><h3>Programs</h3></div>
        <div class="col-1">
            <ModalWindow Type="Program" Activity="add" IndexedDb="@indexedDb" HandleStateChange="@RefreshUi" />
        </div>
        <div class="col-12">
            <p>programs, yo!</p>
        </div>        
    </div>

    <div class="col-12">
        @foreach (var program in programs)
        {
            <div class="row listing">
                <div class="col-4">@program.Name</div>
                <div class="col-1">
                    <ModalWindow Type="Program" Activity="edit" Document="@program" IndexedDb="@indexedDb" HandleStateChange="@RefreshUi" />
                </div>
                <div class="col-1">
                    <ModalWindow Type="Program" Activity="delete" Document="@program" IndexedDb="@indexedDb" HandleStateChange="@RefreshUi" />
                </div>                
            </div>
        }
    </div>
</div>

@code {
    private IndexedDb? indexedDb;
    private List<Program> programs = new List<Program>();

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            indexedDb = new IndexedDb(js, "programs");
            indexedDb.DbInitialized += indexedDb_DbInitialized;
        }
    }

    private void indexedDb_DbInitialized(object sender, bool Initialized)
    {
        indexedDb = (IndexedDb)sender;
        RefreshUi();
    }

    public async void RefreshUi()
    {
        var query = @"{}";
        programs = await indexedDb.Find<List<Program>>(query);
        StateHasChanged();
    }
}
