@using System.Text.Json;
@using WorkoutTracker.DataAccess;
@using WorkoutTracker.Models;
@using WorkoutTracker.Forms;
@using System.ComponentModel.DataAnnotations;
@inject IJSRuntime JsRuntime;

<button class="@GetButtonClasses()" data-bs-toggle="modal" data-bs-target="#@GetModalId()">@Activity</button>
<div id="@GetModalId()" class="modal modal-lg fade" tabIndex="-1" data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@GetTitle()</h5>
                <button type="button" class="btn-close"  data-bs-target="#@GetModalId()" aria-label="Close" onclick="@HandleCancel"></button>
            </div>
            <div class="modal-body">                
                @if (ShowConfirmDelete)
                {
                    <div class="col-12 fade-in fade-out">
                        are you sure you want to delete "@GetTitle()" permanently?
                    </div>
                } 
                else
                {                    
                    @if (Type == "Program")
                    {
                        <span style="display: none;">@(ChangeDocument = Document == null ? new Program() : Document)</span>
                        <span style="display: none;">@(ShowInclusions = Document != null)</span>
                        <ProgramForm Document="@((Program)Document)" ChangeDocument="@ChangeDocument" ShowInclusions="@ShowInclusions" ValidationResults="@ValidationResults" />
                    }
                    @if (Type == "Routine")
                    {
                        <span style="display: none;">@(ChangeDocument = Document == null ? new Routine() : Document)</span>
                        <span style="display: none;">@(ShowInclusions = Document != null)</span>
                        <RoutineForm Document="@((Routine)Document)" ChangeDocument="@ChangeDocument" ShowInclusions="@ShowInclusions" ValidationResults="@ValidationResults" />
                    }
                    @if (Type == "Exercise")
                    {
                        <span style="display: none;">@(ChangeDocument = Document == null ? new Exercise() : Document)</span>
                        <span style="display: none;">@(ShowInclusions = Document != null)</span>
                        <ExerciseForm Document="@((Exercise)Document)" ChangeDocument="@ChangeDocument" ValidationResults="@ValidationResults" />
                    }
                }
            </div>
            <div class="modal-footer">
                @if (Document != null && !ShowConfirmDelete)
                {
                    <button class="btn btn-sm btn-outline-danger position-absolute start-0" style="margin-left: 1em;" onclick="@HandleShowConfirmDelete">
                        delete
                    </button>
                }
                <button class="btn btn-sm btn-outline-default"  data-bs-target="#@GetModalId()" onclick="@HandleCancel">cancel</button>
                @if (ShowConfirmDelete)
                {
                    <button class="btn btn-sm btn-outline-danger"  data-bs-target="#@GetModalId()" onclick="@HandleDelete">delete</button>
                } 
                else if(Activity == "edit")
                {
                    <button class="btn btn-sm btn-outline-success"  data-bs-target="#@GetModalId()" onclick="@HandleUpdate">save</button>
                }
                else if(Activity == "add")
                {
                    <button class="btn btn-sm btn-outline-success"  data-bs-target="#@GetModalId()" onclick="@HandleInsert">save</button>
                }                
            </div>
        </div>
    </div>
</div>

@code {
    [CascadingParameter]
    public Dictionary<string, IndexedDb> Collections { get; set; }
    [Parameter]
    public ActivityBase? Document { get; set; }
    [Parameter]
    public string Type { get; set; }
    [Parameter]
    public string Activity { get; set; } = "add";
    [Parameter]
    public Action? HandleStateChange { get; set; }

    public dynamic? ChangeDocument { get; set; }
    public bool ShowInclusions { get; set; } = false;
    public bool ShowConfirmDelete { get; set; } = false;
    public List<ValidationResult>? ValidationResults { get; set; }

    private string GetCollectionName()
    {
        return $"{(Document == null ? Type.ToLower() : Document.GetType().ToString().Split('.').Last().ToLower())}s";
    }

    private string GetModalId()
    {
        string modalId = $"{Activity}_modal";
        if (Type != null)
        {
            modalId = $"{Activity}_{Type}_modal";
        }
        if (Document != null)
        {
            modalId = $"{Activity}_{Document._id}_modal";
        }
        return modalId;
    }

    private string GetButtonClasses()
    {
        string buttonClasses = "btn btn-sm btn-outline-default listingButton";
        if (Activity == "add")
        {
            buttonClasses = "btn btn-sm btn-outline-primary listingButton";
        }
        if (Activity == "delete")
        {
            buttonClasses = "btn btn-sm btn-outline-danger listingButton";
        }
        return buttonClasses;
    }

    private string GetTitle()
    {
        string title = $"Add New {Type}";
        if (Document != null)
        {
            title = Document.Name;
        }
        return title;
    }

    private void RefreshUi()
    {   
        ShowInclusions = false;
        ShowConfirmDelete = false;
        ValidationResults = null;
        HandleStateChange?.Invoke();
    }

    private async void HandleInsert()
    {
        if (ChangeDocument != null)
        {
            var validation = ChangeDocument.Validate();
            if (validation.Valid)
            {
                var documentId = await Collections[GetCollectionName()].Insert(ChangeDocument);
                RefreshUi();
                DismissModal();
            } else
            {
                // do something with validation.Results
                await JsRuntime.InvokeVoidAsync("console.log", $"validation.Results: {JsonSerializer.Serialize(validation.Results)}");
                ValidationResults = validation.Results;
                StateHasChanged();
            }

        }                
    }

    private async void HandleUpdate()
    {
        if (Document != null && ChangeDocument != null)
        {
            var validation = ChangeDocument.Validate();
            if (validation.Valid)
            {
                dynamic updateDictionary;
                var queryDictionary = new Dictionary<string, string>() { { "_id", Document._id } };
                updateDictionary = new Dictionary<string, object>() { { "$set", ChangeDocument } };
                var updated = await Collections[GetCollectionName()].Update(queryDictionary, updateDictionary);
                RefreshUi();
                DismissModal();
            } else
            {
                // do something with validation.Results
                await JsRuntime.InvokeVoidAsync("console.log", $"validation.Results: {JsonSerializer.Serialize(validation.Results)}");
                ValidationResults = validation.Results;
            }

        }        
    }
    private void HandleShowConfirmDelete()
    {
        ShowConfirmDelete = !ShowConfirmDelete;
    }
    private async void HandleDelete()
    {
        var queryDictionary = new Dictionary<string, string>() { { "_id", Document._id } };
        var deleted = await Collections[GetCollectionName()].Remove(queryDictionary);
        RefreshUi();
        DismissModal();
    }

    private void HandleCancel()
    {
        DismissModal();
        if (Type == "Program") ChangeDocument = Document == null ? new Program() : Document;
        if (Type == "Routine") ChangeDocument = Document == null ? new Routine() : Document;
        if (Type == "Exercise") ChangeDocument = Document == null ? new Exercise() : Document;
        ShowInclusions = false;
        ShowConfirmDelete = false;
        ValidationResults = null;
    }

    private async void DismissModal()
    {
        var dismissed = await JsRuntime.InvokeAsync<bool>("ModalTools.closeModal", GetModalId());
    }
}
